<div class="container">
    <div class="col-12 col-md-4 m-auto mt-5">
        <h1 class="mb-4">Register</h1>

        <% if(alert) { %>
        <div class="alert alert-<%= alert.type %>" role="alert">
            <%= alert.message %>
        </div>
        <%} %>
        <form method="POST" action="/admin/register">
            <section class="mb-3">
                <label for="username">Username</label>
                <input
                    type="text"
                    id="username"
                    class="form-control"
                    name="username"
                />
            </section>
            <section class="mb-3">
                <label for="email">Email Address</label>
                <input
                    type="email"
                    id="email"
                    class="form-control"
                    name="email"
                />
                <div class="form-text">
                    Will be used for resetting password.
                </div>
            </section>
            <section class="mb-3">
                <label for="accessCode">Access Code</label>
                <input
                    type="text"
                    id="accessCode"
                    class="form-control"
                    name="accessCode"
                />
                <div class="form-text">Ask the administrator for this.</div>
            </section>
            <section class="mb-3">
                <label for="password">Password</label>
                <input
                    type="password"
                    id="password"
                    class="form-control"
                    name="password"
                />
                <div class="form-text">
                    Already have an account?
                    <a href="/admin/login">Log in</a>
                </div>
            </section>
            <button class="btn btn-success d-block ms-auto">Register</button>
        </form>
    </div>
</div>
