<div class="col-md-12 contact-details">
    <div class="row">
        <div class="col-12 col-md-6">
            <p>
                <span class="material-icons-outlined"> place </span>7th Floor
                Mulliner towers, Ikoyi, Lagos Nigeria
            </p>
        </div>
        <div class="col-12 col-md-3">
            <p>
                <span class="material-icons-outlined"> phone </span>+234
                9060005636
            </p>
        </div>
        <div class="col-12 col-md-3">
            <p>
                <span class="material-icons-outlined"> email </span
                >support@appazgreen.com
            </p>
        </div>
    </div>
</div>
