Statistic Views with Charts or Graphs:

Current DAY total (RDT VS PCR)
7 days total (RDT VS PCR)
Current Month Total (RDT VS PCR)

Sub statistics Views with Charts or Graphs
Current Month data by entities (Entity A Vs Entity B Vs Entity C vs etc.)
Current month data by Status (Positive vs Negative)
Current month data by employment status. (Employee vs vendors/Guests)
Current month data by test type (RDT vs PCR)

We should be able to select data by the following criteria for export or to view stats:


DATE X or DATE X to DATE Y
MONTH (JANUARY, FEBUARY ETC)
ENTITY’s FOR DATE, MONTH or YEAR.
STATUS for DATE, MONTH or YEAR.
TEST TYPE for DATE, MONTH or YEAR.


Should be able to export selected data to csv in this format.
DATE,TEST TYPE,NAME,PHONE,GENDER,ENTITY,EMPLOYMENT STATUS(EMPLOYEE or VENDOR),DEPARTMENT,REMARK,STATUS

CRUD Departments, Entities


User (level 2)  {
    create new database entries
    export data as csv
}

WHATSAPP - inform user of test results
