<div class="container">
    <a href="" class="btn btn-primary">
        Rapid Diagnostic Test (RDT)
    </a>
    <a href="" class="btn btn-primary">
        Polymerase Chain Reaction (PCR)
    </a>
</div>