<link rel="stylesheet" href="/public/css/home.min.css" />

<div class="container">
    <div class="col-12">
        <header class="mb-5">
            <h1 class="display-4 text-center">I am here for:</h1>
            <p class="text-center lead">
                Please select the test you wish to leave.
            </p>
        </header>
        <div class="col-12 col-xs-12 col-md-3 m-auto">
            <div class="d-flex flex-column flex-md-row direction-actions">
                <a href="/pick-test/rdt" class="btn btn-primary m-auto w-50"
                    >RDT</a
                >
                <a href="/pick-test/pcr" class="btn btn-primary m-auto w-50"
                    >PCR</a
                >
            </div>
        </div>
    </div>

    <div class="company-logo">
        <img src="/public/img/company-logo.png" alt="Company Logo" />
    </div>
</div>

<%- include("../partials/contact-details") %>
