.contact-details {
    padding-top: 50px;
    padding-bottom: 25px;
    p {
        font-weight: bold;
        color: rgb(61, 61, 61);
        letter-spacing: 1.15px;
        font-size: 0.83rem;
    }
}
