td,
th {
    white-space: nowrap;
}

.table-container {
    max-width: 100%;
    overflow: auto;
    max-height: 50vh;
}

table {
    tbody {
        tr {
            cursor: pointer;

            &.selected {
                background-color: rgba(223, 223, 223, 0.603);
            }

            .link:hover {
                background-color: rgb(241, 241, 241);
                cursor: pointer;
            }
        }
    }
}

.graph-holder {
    padding: 1rem;
    .graph-container {
        padding: 1rem;
        canvas {
            object-fit: contain;
            width: 100%;
            min-height: 400px;
        }
    }
}
